body 
{
	background: #eaeaea !important;
}

.reduceSpace
{
	margin-right:-2.5%;
}

.transitionBlur
{
	transition: filter .5s;
}

.blur
{
	filter: blur(8px);
}

.unblur
{
	filter: blur(0px);
}

.image-cover
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container
{
}

	.container .block
	{
		background: #fff;
		padding: 10px 15px;
		margin-bottom:50px;

		box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	}

	.container .title
	{
		position:relative;
		margin-top:-32px;
		margin-left:10px;
	}

	.container .imageBlock
	{

	}

		.imageBlock img
		{
			max-width:100%;

		}

#videoContent
{
	display:none;
}

#video
{
	position:relative;	
	margin-bottom:40px;	

	background-image: url(../assets/video.png);
	padding-top:54%;
	width:100%;
}


