body 
{
	background: #eaeaea !important;
}

.expandBottom
{
	padding-bottom:15px !important;
}

.reduceSpace
{
	margin-right:-2.5%;
}

.transitionBlur
{
	transition: filter .5s;
}

.blur
{
	filter: blur(8px);
}

.unblur
{
	filter: blur(0px);
}

.image-cover
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container
{
}

	.container .block
	{
		background: #fff;
		padding: 10px 15px;
		margin-bottom:50px;

		box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	}

	.container .title
	{
		position:relative;
		margin-top:-32px;
		margin-left:10px;

		text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(0,0,0,0.15);
	}

	.container .imageBlock
	{
		margin-top: 10px;
		border:0;
		box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	}

		.imageBlock .image-title
		{
			padding:10px 0;
		}

		.imageBlock img
		{
			max-width:100%;
			box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
		}

		.imageBlock .image-description
		{
			padding:5px 10px;
			line-height: 1.6em;
		}

			.imageBlock .image-description:first-letter
			{
				font-size:1.8em;
			}

	#team
	{
		padding:20px 0;

		box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.5);
		border-top:1px #158394 solid;
	}

		#team .title
		{
			margin:0;

			text-align:center;
			color:#fff;
			font-size:2em !important;
			text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
		}

		.container .teamBlock
		{

		}

#videoContent
{
	display:none;
}

#video
{
	position:relative;	
	margin-bottom:40px;	

	background-image: url(../assets/video.png);
	padding-top:54%;
	width:100%;
}


